*.ddp
*.dcu
Win32
XML
xml3
Schemas
Retorno
Logos
Arquivos
atl
Boletos
C
CCE
certificados
CTE
DIST
FOTOS_VEICULO
INUTILIZACAO
LogoNF
LogOnvio
MDFe
TempXML
WEB
__history
*.gif
modules
MapsCapture
LCDPR
Documentos
*.fdb